.categoryImage{
    min-width: 110px;
    width: 110px;
    height: 120px;
    /* border: 1px solid black; */
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: ease all 200ms;
}

.categoryImage:hover{
    transform: scale(1.1);
}

.image{
    width: 90px;
    height: 90px;
}

.categoryImage > h2{
    font-size: 15px;
    color: black;
    font-weight: 300;
}