.categoryDiv {
  width: 22vw;
  height: 16vw;
  color: black;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding-bottom: 5px;
  transition: all ease 500ms;
  border-bottom: 2px solid black;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
  background: white;
  cursor: pointer;
}

.categoryDiv:hover {
  transform: scale(1.05);
}

.categoryImage {
  width: 100%;
  height: auto;
  border-radius: inherit;
  transition: all 500ms ease;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.categoryHeader {
  font-size: 15px;
  color: black;
  font-weight: 500;
}


@media only screen and (max-width: 400px){

  .categoryDiv {
  width: 95vw;
  height: 67vw;
  color: black;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  padding-bottom: 5px;
  transition: all ease 500ms;
  border-bottom: 2px solid black;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
  background: white;
  cursor: pointer;
}

.categoryDiv:hover {
  transform: scale(1.05);
}

.categoryImage {
  width: 100%;
  height: auto;
  border-radius: inherit;
  transition: all 500ms ease;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.categoryHeader {
  font-size: 15px;
  color: black;
  font-weight: 500;
}


}