.checkouttotal-main{
    width: 400px;
    min-height: 200px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: -1px 1px 5px black;
    margin-top: 30px;
}

.whatsapp-order-link{
    text-decoration: none;
    width: 80%;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #419abe;


}

.whatsapp-order-link:hover{
    transform: scale(1.05);
}

.whatsapp-order-button{
    width: 100%;
    height: 100%;
    border: none;
    background: #419abe;
    color: white; 
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear-cart{
    width: 80%;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* background: rgb(65, 83, 65); */
    color: white;
    font-weight: bold;
    background: #0145fe;
    display: flex;
    justify-content: center;
    align-items: center;

}

.clear-cart:hover{
    transform: scale(1.05);
}

.return-from-checkout-to-shop{
    width: 80%;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.return-from-checkout-to-shop:hover{
    transform: scale(1.05);
}

.return-from-checkout-to-shop > button{
    width: 100%;
    height: 100%;
    border: none;
    /* background-color: rgb(211, 211, 3); */
    color: white;
    font-weight: bolder;
    background-color: #73c738;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp-logo{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

@media only screen and (max-width: 700px){

    .checkouttotal-main{
    width: 95vw;
    min-height: 200px;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: -0.5px 0.5px 10px rgba(0, 0, 0, 0.4);
    margin-top: 30px;
}

.whatsapp-order-link{
    text-decoration: none;
    width: 80%;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;

}

.whatsapp-order-link:hover{
    transform: scale(1.05);
}

.whatsapp-order-button{
    width: 100%;
    height: 100%;
    border: none;
    background: #419abe;
    color: white; 
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear-cart{
    width: 80%;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #0145fe;
    color: white;
    font-weight: bold;
    border-radius: 5px;

}

.clear-cart:hover{
    transform: scale(1.05);
}

.return-from-checkout-to-shop{
    width: 80%;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-decoration: none;
}

.return-from-checkout-to-shop:hover{
    transform: scale(1.05);
}

.return-from-checkout-to-shop > button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #73c738;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.whatsapp-logo{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 2px;
}

}