.contact{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid black; */
    margin: 10px 0;
    padding: 0 10px;
    cursor: pointer;
}

.contact > img{
    margin-right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.contact > p{
    text-transform: capitalize;
    font-size: 15px;
    color:  #1280ff;
}

@media only screen and (max-width: 720px){

    .contact{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid black; */
    margin: 10px 0;
    padding: 0 10px;
    cursor: pointer;
}

.contact > img{
    margin-right: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.contact > p{
    text-transform: capitalize;
    font-size: 15px;
    color:  #1280ff;
    display: none;
}

}

@media only screen and (max-width: 420px){

    .contact{
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    /* margin: 10px 0; */
    /* padding: 0 10px; */
    cursor: pointer;
}

.contact > img{
    /* margin-right: 10px; */
    min-height: 40px;
    min-width: 40px;
    border-radius: 50%;
    margin: 0;
}

.contact > p{
    text-transform: capitalize;
    font-size: 15px;
    color:  #1280ff;
    display: none;
}

}
