.delete-products-main{
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgb(255, 255, 255);
}

.delete-products-div{
    /* border: 1px solid black; */
    min-height: 160px;
    min-width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: left;
    flex-direction: column;
    box-shadow: 1px 1px 5px solid black;
    background: white;
}

.delete-products-div > .form{
    /* border: 1px solid black; */
    min-height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
}

.delete-product-id{
    height: 30px;
    width: 100%;
    outline: none;
    background: white;
    border: 0.5px solid skyblue;
    padding-left: 10px;
}

.delete-products-div > form > button{
    width: 70%;
    height: 30px;
    background: red;
    color: white;
    border-radius: 3px;
    font-size: 15px;
    border: 0;
    font-weight: bold;
}

.delete-products-div > form > button:hover{
    transform:scale(1.05);
}
