.feed{
    height: 100vh;
    max-height: 100vh;
    width: 60%;
    /* background: black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    overflow: scroll;
    object-fit: contain;
}

.feed::-webkit-scrollbar{
    display: none;
}

@media only screen and (max-width: 720px){

    .feed{
    height: 100vh;
    max-height: 100vh;
    width: 80%;
    /* background: black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    overflow: scroll;
    object-fit: contain;
}

.feed::-webkit-scrollbar{
    display: none;
}

}

@media only screen and (max-width: 420px){

    .feed{
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    /* background: black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    overflow: scroll;
    object-fit: contain;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
}

.feed::-webkit-scrollbar{
    display: none;
}

}