*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 500ms ease;
  /* overflow: hidden; */
}

*::-webkit-scrollbar{
  display: none;
}

body {
  font-family: poppins, hubballi, open-sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.index-main{
  width: 100vw;
  height: 100vw;
}






