.inputBox{
    height: 130px;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    background: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.input{
    height: 70px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: 0;
}

.inputImage{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.input > form{
    min-width: 60%;
    width: 200px;
    height: 40px;
    margin-left: 20px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    outline: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input > form > input{
    width: 80%;
    height: 100%;
    border-radius: 20px;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    border: 0;
    padding-left: 20px;
    padding-left: 20px;
    outline: 0;
    background: 0;
}

.input > form > button{
    height: 100%;
    width: 20%;
    border-radius: inherit;
    border: 0;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    background: none;
}

.uploadImageDiv{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

.uploadImage{
    height: inherit;
    width: inherit;
    border-radius: inherit;
}

.inputOptions{
    height: 40px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputOptions > div{
    height: 100%;
    width: 33.3%;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* padding: 0 40px; */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: inherit;
}

.icon{
    width: 25px;
    height: auto;
    margin-right: 10px;
}

.navDescription{
    font-size: 12px;
}