.landingMain{
	height: calc(100vh - 70px);
	/* height: 100vh; */
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	background: url('/images/cover2.jpg') no-repeat center center fixed;
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	/* filter: blur(50%); */
	margin-top: 70px;
}

.landingMessage{
	width: 550px;
	height: 300px;
	/* border: 1px solid white; */
	margin-bottom: 20px;
	margin-left: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.get{
	font-size: 45px;
	color: white;
	font-weight: 1000;
}

.lorem{
	font-size: 15px;
	color: white;
	font-weight: lighter;
}

.landingMessage > button{
	width: 140px;
	height: 35px;
	color: white;
	background-color: rgb(9, 89, 238);
	margin-top: 20px;
	border-radius: 5px;
}


