.loginMain{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #ffca00
}

.bannerImage{
    width: 60vw;
    height: auto;
    margin-top: 20px;
    /* border: 1px solid black; */
}

.loginMain > button{
    width: 200px;
    height: 40px;
    background: black;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
    transition: 500ms all ease;
    cursor: pointer;
}

.loginMain > button:hover{
    transform: scale(1.05)
}

.loginMain > p{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 300;
    color: white;
    width: 400px;
    /* border: 1px solid black; */
    text-align: center;
}