.password{
    height: 200px;
    width: 500px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 10px grey;
    border-radius: 20px;
}

.password > input{
    width: 70%;
    height: 35px;
    padding-left: 10px;
    outline: rgb(139, 139, 252);
    border: 1px solid grey;
    border-radius: 10px;
}

.password > button{
    height: 40px;
    width: 50%;
    border: 0;
    border-radius: 10px;
    background: rgb(137, 241, 137);
    font-size: 15px;
    transition: all 200ms ease;
}

.password > button:hover{
    transform: scale(1.05);
}

.password > p {
    color: red;
    font-size: 12px;
}

@media only screen and (max-width: 420px){

    .password{
    height: 200px;
    width: 95vw;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 1px 10px grey;
    border-radius: 20px;
}

.password > h1{
    font-size: 20px;
}

.password > input{
    width: 70%;
    height: 35px;
    padding-left: 10px;
    outline: rgb(139, 139, 252);
    border: 1px solid grey;
    border-radius: 10px;
}

.password > button{
    height: 40px;
    width: 50%;
    border: 0;
    border-radius: 10px;
    background: rgb(137, 241, 137);
    font-size: 15px;
    transition: all 200ms ease;
}

.password > button:hover{
    transform: scale(1.05);
}

.password > p {
    color: red;
    font-size: 12px;
}

}