.posts{
    width: 100%;
    /* min-height: 300px; */
    height: auto !important;
    min-height: 100vh;
    /* border: 1px solid black; */
    overflow: scroll;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
    object-fit: contain;
}

.posts::-webkit-scrollbar{
    display: none;
}