.postCardMain {
  width: 230px;
  height: 160px;
  color: white;
  margin: 10px;
  /* margin-top: 15px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  /* background: black; */
  padding-bottom: 5px;
  transition: all ease 500ms;
  border-bottom: 2px solid black;
  /* border: 1px solid black; */
  box-shadow: 1px 1px 10px black;
  cursor: pointer;
  background: white;
}

.postCardMain:hover {
  transform: scale(1.05);
}

.postImage {
  width: 100%;
  height: auto;
  border-radius: inherit;
  transition: all 500ms ease;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.postHeader {
  font-size: 15px;
  color: black;
  font-weight: 500;
}

@media only screen and (max-width: 400px) {
  .postCardMain {
    width: 95vw;
    height: 65vw;
    color: black;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding-bottom: 5px;
    transition: all ease 500ms;
    border-bottom: 2px solid black;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 1);
    background: white;
    cursor: pointer;
  }

  .postCardMain:hover {
    transform: scale(1.05);
  }

  .postImage {
    width: 100%;
    height: auto;
    border-radius: inherit;
    transition: all 500ms ease;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .postHeader {
    font-size: 15px;
    color: black;
    font-weight: 500;
  }
}
