.postCard {
  height: auto;
  min-height: 490px;
  width: 90%;
  /* border: 1px solid black; */
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  object-fit: contain;
}

.imageName {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid black;
}

.imageName > div {
  display: flex;
  width: auto;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
  padding: 5px;
}

.imageName > div > p {
  font-weight: 22px;
  color: #4267b2;
  font-weight: bold;
}

.posterImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.messageDiv {
  width: 100%;
  height: auto;
  min-height: 55px;
  margin-top: 10px;
  /* border: 1px solid; */
}

.messageDiv > p {
  font-size: 15px;
  font-weight: 300;
}

.imageDiv {
  height: auto;
  max-height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  margin: 10px 0;
  object-fit: contain;
}

.postImage {
  height: auto;
  max-height: 400px;
  width: 90%;
}

.likeButtons {
  width: 100%;
  height: 40px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.likeButtons > div {
  width: 33.3%;
  height: inherit;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.likeButtons > div > p {
  font-size: 12px;
}

.postIcon {
  width: 25px;
  height: auto;
  color: rgba(8, 8, 8, 0.3);
  font-weight: lighter;
  margin-right: 10px;
}


@media only screen and (max-width: 420px){

  .postCard {
  height: auto;
  min-height: 400px;
  width: 90%;
  /* border: 1px solid black; */
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  object-fit: contain;
}

.imageName {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-bottom: 1px solid black;
}

.imageName > div {
  display: flex;
  width: auto;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid black; */
  padding: 5px;
}

.imageName > div > p {
  font-weight: 22px;
  color: #4267b2;
  font-weight: bold;
}

.posterImage {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.messageDiv {
  width: 100%;
  height: auto;
  min-height: 55px;
  margin-top: 10px;
  /* border: 1px solid; */
}

.messageDiv > p {
  font-size: 15px;
  font-weight: 300;
}

.imageDiv {
  height: auto;
  max-height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  margin: 10px 0;
  object-fit: contain;
}

.postImage {
  height: auto;
  max-height: 400px;
  width: 90%;
}

.likeButtons {
  width: 100%;
  height: 40px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.likeButtons > div {
  width: 33.3%;
  height: inherit;
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.likeButtons > div > p {
  font-size: 12px;
}

.postIcon {
  width: 25px;
  height: auto;
  color: rgba(8, 8, 8, 0.3);
  font-weight: lighter;
  margin-right: 10px;
}


}