.productContainerMain{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 0px;
    text-align: left;
    /* background: coral; */
}

.productMainHeader{
    width: 100%;
    min-height: 30px;
    /* border: 1px solid black; */
    font-size: 25px;
    font-weight: 1000;
    color: black;
    text-transform: capitalize;
    margin-top: 10px;
    padding-left: 20px;
    font-weight: 300;
}

.productCardContainer{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 0px;
    /* border: 1px solid black; */
}

