.sidebarRow{
    height: 50px;
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease;
    cursor: pointer;
    overflow-x: hidden;
}

.sidebarRow:hover{
    transform: scale(1.05);
    /* border-bottom: 1px solid rgb(66, 103, 178); */
}

.iconDiv{
    width: 30%;
    height: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebarIcon{
    width: 30px;
    height: auto;
    color: rgb(66, 103, 178);
}

.sidebarProfileImg{
    width: 30px;
    height: auto;
    border-radius: 50%;
}

.nameDiv{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
}