.storyCard {
  height: 190px;
  min-width: 120px;
  width: 120px;
  border-radius: 10px;
  border: 1px solid black;
  margin: 0 3px;
  transition: all 500ms ease;
  background: black;
}

.storyCard:hover{
    transform: scale(1.05);
}

.storyImage {
  height: 160px;
  width: 100%;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}

.storyCard > p {
  font-size: 12px;
  margin-left: 10px;
  color: white;
}
