.stories {
  width: 100%;
  max-width: 60vw;
  height: 200px;
  min-height: 200px;
  /* border: 1px solid black; */
  display: flex;
  /* justify-content: right; */
  align-items: center;
  flex-direction: row;
  overflow-x: scroll;
  margin-top: 10px;
}

.stories::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 720px){

  .stories {
  width: 100%;
  min-width: 90%;
  /* max-width: 60vw; */
  height: 200px;
  min-height: 200px;
  /* border: 1px solid black; */
  display: flex;
  /* justify-content: right; */
  align-items: center;
  flex-direction: row;
  overflow-x: scroll;
  margin-top: 10px;
}

.stories::-webkit-scrollbar {
  display: none;
}


}

@media only screen and (max-width: 420px){

  .stories {
  width: 100%;
  min-width: 95%;
  /* max-width: 60vw; */
  height: 200px;
  min-height: 200px;
  /* border: 1px solid black; */
  display: flex;
  /* justify-content: right; */
  align-items: center;
  flex-direction: row;
  overflow-x: scroll;
  margin-top: 10px;
}

.stories::-webkit-scrollbar {
  display: none;
}


}