.topMain{
	height: 60px;
	width: 60px;
	border-radius: 50%;
	background: black;
	position: absolute;
	right: 50px;
	bottom: 50px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: all 500ms ease;
}

.topMain:hover{
	transform: scale(1.1);
}

.arrow{
	width: 30px;
	height: auto;
	border-radius: 50%;
}

.topMain > p{
	font-size: 12px;
	color: white;
	font-weight: bolder;
	letter-spacing: 1px;
}
