.widgets{
    height: 100%;
    width: 20%;
    /* background: black; */
    /* border-left: 1px solid rgba(0, 0, 0, 0.2);. */
}

.contactsTop{
    height: 40px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 0 5px;
}

.contactsTop > p{
    font-size: 18px;
    color:  #1280ff;
}

.contactsTop > div{
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.widgetIcon{
    height: 20px;
    width: auto;
}

.contactList{
    height: 90%;
    width: 100%;
    overflow: scroll;
}

.contactList::-webkit-scrollbar{
    display: none;
}

@media only screen and (max-width: 720px){

.widgets{
    height: 100%;
    width: 10%;
    /* background: black; */
    /* border-left: 1px solid rgba(0, 0, 0, 0.2);. */
}

.contactsTop{
    height: 40px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 0 5px;
    display: none;
}

.contactsTop > p{
    font-size: 18px;
    color:  #1280ff;
}

.contactsTop > div{
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.widgetIcon{
    height: 20px;
    width: auto;
}

.contactList{
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.contactList::-webkit-scrollbar{
    display: none;
}

}

@media only screen and (max-width: 420px){

.widgets{
    height: 100%;
    width: 10%;
    display: none;
    /* background: black; */
    /* border-left: 1px solid rgba(0, 0, 0, 0.2);. */
}

.contactsTop{
    height: 40px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding: 0 5px;
    display: none;
}

.contactsTop > p{
    font-size: 18px;
    color:  #1280ff;
}

.contactsTop > div{
    width: 50%;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.widgetIcon{
    height: 20px;
    width: auto;
}

.contactList{
    height: 100%;
    width: 100%;
    overflow: scroll;
    /* border: 1px solid black; */
}

.contactList::-webkit-scrollbar{
    display: none;
}

}